@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'myFont';
  src: url('/fonts/myfont.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'workFont';
  src: url('/fonts/workFont.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
:root{
  --bgOne:#F2F0EA;
  --bgTwo:#E1DBCB;
}

 body{
  width: 100Vw;
  overflow-x: hidden;
 }
 #root{
  width: 100%;
  height: 100%;
  position: relative;
  /* overflow: hidden; */
 }
header#header{
  position: sticky !important;
  top: 0;
  left: 0;
}

/* ======nav bar======== */
#menuIcon .horizontalLine{
  stroke-dashoffset: 100 ;
  stroke-dasharray: 100 ;
}
#menuIcon .crosLine{
  stroke-dashoffset: 100 ;
  stroke-dasharray: 100 ;
}
.gggg{
  width: fit-content;
  height: 30px;
  transform-style: preserve-3d;
  overflow: hidden;
}
.red{
  position: relative;
  top: 0;
  transform: rotateX(0);
  transition: 0.2s all linear;
}
.blue{
  position: relative;
  top: -10px;
  transform: rotateX(90deg);
  transition: 0.2s all linear;
}
.gggg:hover .red{
  top: -15px;
  transform: rotateX(90deg);
}
.gggg:hover .blue{
  top: -28px;
  transform: rotateX(0deg);
}


.menu ul .menuItem .dropdownMenu{
  @apply border-2 border-[#5454ff23] shadow-inner  shadow-[white] rounded-[10px] overflow-hidden text-black
}
.menu ul .menuItem .dropdownMenu .dropdounWrapper .dropdownMenuItem {
  @apply [&>span]:text-base [&>span]:font-semibold [&>p]:font-myFont [&>p]:text-xs bg-[#e1dbcb57] px-3 pb-2 shadow-inner  shadow-[#f0e5c67e] hover:bg-bgTwo 
}
.configaretor{}
/* ======nav bar======== */
.millworkContent{
  @apply w-80 mt-16 flex flex-col gap-5;
}

/* 
html {
  scroll-behavior: smooth;
} */

 #banner {
  background-size: 110% 110%;
  background-position: center center;
  background-repeat: no-repeat;
}
/* ===menu1== */
.menu1Lis{
    width: 100%;
    height: 25px;
    display: flex;
    gap: 20px;
    overflow: hidden;
}
.menu1item{
    height: 100%;
    cursor: pointer;
    
}
.menu1LinkWrapper{
    display: flex;
    flex-direction: column;
    transition: .2s all linear;
}
.menu1item:hover .menu1LinkWrapper{
    transform: translateY(-24px);
}

.menu_item {
  display: inline-block;
  position: relative;
  transition: 0.5s all linear;
}
.menu_item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 10%;
  height: 2px;
  background: linear-gradient(45deg, aqua, tan);
  transition: 0.5s all linear;
}

.menu_item:hover {
  color: aqua;
  cursor: pointer;
}
.menu_item:hover::after {
  width: 110%;
}

/* ======staleen card======== */
/* .stalen_card{
  background-color: rgba(0, 0, 0, 0.075);
  box-shadow:inset  0 0 10px 1px rgba(0, 0, 0, 0.37);
  border: 1px solid rgb(0, 0, 0);
  outline: 1px solid rgba(0, 0, 0, 0.349);
  border-radius: 8px;
} */
.amimateDoorThree{
  animation: doorAnimThree 2s ease-in-out forwards;
}
@keyframes doorAnimThree {
  0% {
    transform: rotate(0deg);
    transform-origin: left top;
  }
  30% {
    transform: rotate(-30deg);
    transform-origin: left top;
  }
  50% {
    transform: rotate(0deg);
    transform-origin: left top;
  }
  100% {
    transform: rotate(30deg);
    transform-origin: left top;
  }
}

/* =========Inspiration======== */
/* .photoWrapper{}
.photoWrapper{}
.textWrapper{}
.inspirationSeeMore{} */

/* ==========aboutTimeline========== */
/* #aboutTimeline img{
  width: 100%;
  height: 100%;
  object-fit: cover;
} */


